config.toml
orders.csv
watcher.pid
logs/
*.zip
Orders/**/*.mp3
Orders/**/*.mp4
Orders/**/*.mpeg
Orders/**/*.mpga
Orders/**/*.m4a
Orders/**/*.wav
Orders/**/*.webm
Orders/**/*.aac
Orders/**/*.aiff
Orders/**/*.aif
Orders/**/*.flac
Orders/**/*.ogg
Orders/**/*.opus
Orders/**/*.wma
Orders/**/*.mov
Orders/**/*.mkv
